:root {
  --bg: #122c50;
  --primary: #047aed;
  --text: #f19675;
  --spacial: #ff3859;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
::-moz-selection {
  background: var(--spacial);
  color: #fff;
}
::selection {
  background: var(--spacial);
  color: #fff;
}

html {
  background-color: #fafafa;
  border: 1px solid #ccc;
}

body {
  background-color: #fafafa;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

#preloader {
  width: 100vw;
  height: 304vh;
  background-color: #000;
  position: absolute;
  z-index: 1000;
}
#preloader img {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.gotop {
  font-size: 30px;
  color: var(--primary);
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 10000;
}
.gotop:hover {
  color: var(--spacial);
}

.main {
  margin: 10px 9% 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 5rem;
  /*================ PROJECT ================*/
}
.main nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}
.main nav .logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: relative;
}
.main nav .logo .highlight-1 {
  color: var(--spacial);
}
.main nav .logo .highlight-2 {
  color: var(--primary);
}
.main nav .logo #up {
  top: -80px;
  left: -20px;
}
.main nav .logo #down {
  top: -35px;
  right: -20px;
  color: var(--spacial);
}
.main nav .logo b {
  font-size: 5rem;
  position: absolute;
  color: var(--primary);
}
.main nav .ulItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main nav .ulItems li {
  margin: 0 1rem;
}
.main nav .ulItems li a {
  color: var(--primary);
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.main nav .ulItems li:hover a {
  color: var(--spacial);
}
.main nav .ulItems .active {
  color: var(--spacial);
  border-bottom: 2px solid var(--spacial);
}
.main nav .links {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main nav .links a {
  font-size: 30px;
  color: var(--primary);
  margin: 25px 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.main nav .links:hover a {
  color: var(--spacial);
}
.main nav .menubar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;
}
.main nav .menubar i {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.main nav .menubar i:hover {
  color: var(--spacial);
}
.main hr {
  width: 90%;
  border: 3px solid var(--spacial);
  border-radius: 10px;
  margin: 1cm auto;
  height: 5px;
  animation: slideLeft 1s ease-in;
}
.main .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.main .container .bg {
  flex-basis: 50%;
  animation: slideRight 1.3s ease-in;
}
.main .container .bg img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.main .container .content {
  height: 80%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.main .container .content .title {
  font-size: 3rem;
  color: var(--bg);
  animation: slideLeft 1.5s ease-in;
}
.main .container .content .title .changing {
  color: var(--spacial);
}
.main .con-2 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
.main .con-2 .col {
  margin: 1rem;
}
.main .con-2 .col-6 {
  flex-basis: 60%;
  animation: slideLeft 1.5s ease-in;
}
.main .con-2 .col-6 h1 {
  margin-bottom: 1rem;
  color: var(--bg);
  font-weight: 500;
}
.main .con-2 .col-6 p {
  color: var(--bg);
  opacity: 0.8;
  margin-bottom: 2rem;
}
.main .con-2 .col-6 a {
  border: 1px solid var(--spacial);
  color: var(--spacial);
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.main .con-2 .col-6 a:hover {
  background-color: var(--spacial);
  color: #fff;
}
.main .con-2 .col-4 {
  background-color: #fff;
  flex-basis: 40%;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  position: relative;
  bottom: -120px;
  animation: slideRight 2s ease-in;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.main .con-2 .col-4 .title-2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
.main .con-2 .col-4 input {
  width: 100%;
  margin: 0.5rem 0;
  height: 40px;
  padding: 0.5rem;
  font-size: 15px;
  outline: none;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ccc;
}
.main .con-2 .col-4 button {
  width: 100%;
  margin: 1rem 0;
  padding: 10px 20px;
  font-size: 17px;
  border: 1px solid var(--spacial);
  color: var(--spacial);
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.main .con-2 .col-4 button:hover {
  background-color: var(--spacial);
  color: #fff;
}
.main .con-3 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  height: 80vh;
  width: 100%;
}
.main .con-3 h1 {
  margin-bottom: 1rem;
  color: var(--bg);
  font-weight: 500;
}
.main .con-3 .grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.main .con-3 .grid .col-s {
  background-color: #fff;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: transparent;
  padding: 1rem;
  text-align: center;
}
.main .con-3 .grid .col-s .head {
  font-size: 17px;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}
.main .con-3 .grid .col-s .img {
  width: 100%;
}
.main .con-3 .grid .col-s .img img {
  width: 100%;
}
.main .con-3 .grid .col-s:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-10px);
}
.main .con-3 .grid .col-s:hover .head {
  color: var(--spacial);
}
.main .con-3 .askmore {
  width: 100%;
}
.main .con-3 .askmore p {
  margin: 2rem 0;
}
.main .con-3 .askmore a {
  flex-basis: 13%;
  border: 1px solid var(--spacial);
  color: var(--spacial);
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  margin-left: 1rem;
}
.main .con-3 .askmore a:hover {
  background-color: var(--spacial);
  color: #fff;
}
.main footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.main footer .links {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main footer .links a {
  font-size: 30px;
  color: var(--primary);
  margin: 25px 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.main footer .links:hover a {
  color: var(--spacial);
}
.main footer .copyright {
  color: var(--spacial);
}
.main .grid-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.main .grid-project .col-s-project {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.main .grid-project .col-s-project img {
  width: 100%;
}
.main .grid-project .col-s-project .head-project {
  font-size: 20px;
  color: var(--bg);
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}
.main .grid-project .col-s-project:hover {
  transform: translateY(-10px);
}
.main .grid-project .col-s-project:hover .head-project {
  font-size: 20px;
  color: var(--spacial);
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .main {
    margin: 10px 2%;
    /*================ PROJECT ================*/
  }
  .main hr {
    width: 80%;
    border: 3px solid var(--spacial);
    margin: 2rem auto;
    height: 4px;
  }
  .main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main .container .content {
    width: 100%;
    margin-bottom: 2rem;
  }
  .main .container .content .title {
    font-size: 2.4rem;
  }
  .main .con-3 {
    height: 120vh;
    padding: 0rem;
  }
  .main .con-3 .grid {
    margin: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 2rem;
  }
  .main .con-3 .grid .col-s {
    width: 130px;
  }
  .main .con-3 .grid .col-s .head {
    font-size: 16px;
    margin: 1rem 0;
    width: 130px;
    padding: 0.5rem;
  }
  .main .con-3 .grid .col-s .img {
    width: 100%;
  }
  .main .con-3 .grid .col-s .img img {
    width: 100%;
  }
  .main .con-3 .grid .col-s:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
  }
  .main .con-3 .askmore {
    width: 100%;
  }
  .main .con-3 .askmore p {
    margin: 2rem 0;
  }
  .main .con-3 .askmore .ask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .main .con-3 .askmore .ask a {
    flex-basis: 50%;
  }
  .main .con-3 .askmore .ask a:hover {
    background-color: var(--spacial);
    color: #fff;
  }
  .main .con-3 .askmore .ask input {
    flex-basis: 100%;
    margin: 1rem 0;
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #ccc;
  }
  .main nav {
    height: 40px;
    flex-direction: column;
  }
  .main nav .logo {
    position: absolute;
    left: 9%;
  }
  .main nav .ulItems {
    position: absolute;
    top: -20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #fafafa;
  }
  .main nav .ulItems.show {
    top: 6rem;
  }
  .main nav .ulItems li {
    margin: 0rem 0rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .main nav .ulItems li a {
    font-size: 17px;
    width: 100%;
  }
  .main nav .ulItems li:hover {
    color: var(--spacial);
  }
  .main nav .ulItems .active {
    color: var(--spacial);
  }
  .main nav .links {
    width: 100%;
    position: absolute;
    top: -50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--spacial);
  }
  .main nav .links.show {
    top: 22rem;
  }
  .main nav .links a {
    font-size: 28px;
  }
  .main nav .menubar {
    visibility: visible;
  }
  .main .con-2 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main .con-2 .col-6 {
    flex-basis: 100%;
  }
  .main .con-2 .col-4 {
    flex-basis: 100%;
    bottom: 0.5rem;
    max-height: 300px;
  }
  .main .con-2 .col-4 .title-2 {
    font-size: 20px;
  }
  .main .grid-project {
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}
@media (max-width: 425px) {
  .main {
    margin: 10px 7%;
  }
  .main .con-3 {
    height: 180vh;
  }
  .main .con-3 .grid {
    margin: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 2rem;
  }
  .main .con-3 .grid .col-s .img {
    width: 100%;
  }
  .main .con-3 .grid .col-s .img img {
    width: 100%;
  }
  .main .con-3 .grid .col-s:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
  }
  .main footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .main footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .main footer .copyright {
    margin-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  .main {
    margin: 10px 5%;
  }
  .main .con-3 .grid {
    margin: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 2rem;
  }
}
@media (max-width: 320px) {
  .main {
    margin: 10px 3%;
  }
}

/*

// tablet
@include tablet {
  .main {
    margin: 10px 2%;
  }
  nav {
    flex-direction: column;
  }
}
// mobile large
@include mobileLarge() {
  margin: 10px 7%;
}
// mobile meddium
@include mobileMeddim() {
  margin: 10px 5%;
}
// mobile small
@include mobileSmall() {
  margin: 10px 3%;
}

*//*# sourceMappingURL=index.css.map */